<footer class="bg-dark fixed-bottom">
    <div class="container">
        <div class="row row-cols-5 py-5">
            <div class="col align-self-center">
                <a [routerLink]="['home']">
                    <img src="assets/images/logo-wom.svg" alt="" class="d-inline-block align-text-top">
                </a>
            </div>

            <div class="col">
            </div>

            <div class="col">
                <h5 class="text-white font-weight-500">Te ayudamos</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/centro-de-ayuda/"
                            class="nav-link p-0 text-muted" target="_blank">Centro de ayuda</a></li>
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/servicio-tecnico/"
                            class="nav-link p-0 text-muted" target="_blank">Servicio técnico</a></li>
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/sello-multibandas/"
                            class="nav-link p-0 text-muted" target="_blank">Norma Multibanda</a></li>
                </ul>
            </div>

            <div class="col">
                <h5 class="text-white font-weight-500">Sobre WOM</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/sobre-wom/" class="nav-link p-0 text-muted"
                            target="_blank">Sobre WOM</a></li>
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/nuestros-valores/"
                            class="nav-link p-0 text-muted" target="_blank">Nuestros Valores</a></li>
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/neutralidad/" class="nav-link p-0 text-muted"
                            target="_blank">Neutralidad</a></li>
                </ul>
            </div>

            <div class="col">
                <h5 class="text-white font-weight-500">Términos Legales</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a
                            href="https://www.wom.cl/bases/bases/documents/neutralidad_condiciones/politica_de_descuentos_e_indemnizaciones.pdf"
                            class="nav-link p-0 text-muted" target="_blank">Corte y política</a></li>
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/decreto-18/" class="nav-link p-0 text-muted"
                            target="_blank">Reglamento</a></li>
                    <li class="nav-item mb-2"><a href="https://www.wom.cl/sobreconsumo/" class="nav-link p-0 text-muted"
                            target="_blank">Sobreconsumo</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>